<app>
    <div>
        <hello-riot version="v9.x"></hello-riot>
    </div>

    <script>
        import helloRiot from "./hello-riot.riot";

        export default {
            components: {
                helloRiot
            }
        }
    </script>
</app>